@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* CSS HEX */
:root{
    --bgSecondary: #B69C85ff;
    --textSecondary: #87684Eff;
    --textPrimary: #2F1D1Fff;
    --bgTertiary: #634F47ff;
    --bgPrimary: #EFE2D5ff;
}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Fredoka", sans-serif;
    background-color: var(--bgPrimary);
}

/* Header */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.Logo {
    width: 90px;
    margin-left: 1rem;
    justify-self: center; 
}

.Logo img {
    width: 100%;
    height: auto;
}

.CompanyName {
    align-self: center;
}

.CompanyName h1 {
    font-size: 60px;
    text-align: center;
}

/* Nav */
nav { 
    padding-bottom: .5rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    place-items: center;
}

nav ul li{
    margin: .5rem;
    padding: .5rem 1rem;
    font-size: 24px;
    text-align: center;
    color: var(--textPrimary);
    background-color: var(--bgPrimary);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li:hover{
    background-color: var(--bgSecondary);
}

nav ul li a{
    text-decoration: none;
    color: var(--textPrimary);
}

nav ul li.Produk {
    background-color: var(--bgSecondary);
}


/* Body */
.Body{
    display: grid;
    grid-template-columns: 1fr 6fr; 
}

/* SideBar */
.SideBar ul{
    margin: 1rem;
    list-style: none;
    gap: 2rem;
}

.SideBar ul li{
    margin-bottom: 1rem;
    font-size: 24px;
}

.SideBar ul li a{
    text-decoration: none;
    color: var(--textPrimary);
}

.SideBar ul li a:hover{
    color: var(--textSecondary);
}


.DropdownContent {
    display: none;
    position: absolute;
    background-color: var(--bgSecondary);
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.Dropdown:hover .DropdownContent {
    display: block;
}

.DropdownContent a {
    color: var(--textPrimary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Main Body */
.MainBodyContent{
    margin: 1rem;
    font-size: 16px;
    line-height: 1.6;
    color: var(--textPrimary);
}

.MainBodyContent h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--textPrimary);
    margin-bottom: 20px;
}

.MainBodyContent p {
    margin-bottom: 15px;
    color: var(--textSecondary);
}

.ProductList {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.ProductRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.Product {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 0 0 8px 8px;
}

.ProductImage{
    height: 200px;
}

.Product img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover; 
}

.ProductDescription{
    padding: 1rem;
}

.Product h3 {
    margin-top: 10px;
    font-size: 18px;
}

.Product p {
    margin-top: 5px;
    font-size: 16px;
}

/* Floating Buy Button */
.BuyButton{
	position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	right:40px;
	background-color:var(--bgSecondary);
	color:#FFF;
	border-radius:50px;
    font-size: 24px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}